  <!-- disqus start  -->
  {%- if site.rawposts.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top:25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.rawposts.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  {%- endif -%}
  
  {%- if site.rawposts.gittalk -%}
  <!-- Gitalk start  -->
  <!-- Link Gitalk support file  -->
  <section class="gitalk">
  <div id="gitalk_thread"></div>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/md5.min.js"></script>
  <div id="gitalk-container"></div>
  <script type="text/javascript">
   var gitalk = new Gitalk({
   // gitalk parameters
   clientID: '5e24fc307693a6df3bc5',
   clientSecret: '28c9c17e1174c705c42e9bdc92f87cadcc4ec8b8',
   repo: 'daviddong.github.io',
   owner: 'gangdong',
   admin: ['gangdong'],
   id: md5(location.pathname),
   title: 'comments'
    });
   gitalk.render('gitalk-container');
  </script>
  </section>
  <!-- Gitalk end -->
  <br/><br/><br/>
  {%- endif -%}