<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords"  content="{{ site.keywords }}">
{% seo %}
{% case page.layout %}
{% when 'post' %}
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}">
{% endfor %}
{% endcase %}
<link href="https://fonts.font.im/css?family=Poppins:400,900|Raleway|Roboto:400,900|Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<link rel="icon" href="{{site.cdn_baseurl}}/assets/favicon.ico">
{% if site.rawposts.highlighter %}
	<!-- default stylesheet monokai.sublime ! -->
	{% if site.rawposts.syntax %}
	<link href="{{site.cdn_baseurl}}/assets/css/syntax/syntax.{{site.rawposts.syntax}}.css" rel="stylesheet"/>
	{% else %}
	<link href="{{site.cdn_baseurl}}/assets/css/syntax.css" rel="stylesheet"/>
	{% endif %}
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.min.js"></script>

