
{%- if site.rawposts.condensed_mobile contains page.layout -%}
{% assign condensed_class = "condensed" %}
{% else %}
{% assign condensed_class = "" %}
{%- endif -%}
<div class="post-container">
	<div  class = "menu-meta {{condensed_class}}">
		<!--put top menu here, display @ big screen (> $mobileW) -->
		<div  class = "menu-logo" style="margin-top: 20px">{{site.label}}</div>
		<div  class = "menu" style = "margin-top: 20px">
			<a href="{{ site.baseurl}}/blog/index.html">
				<li class="icon-home">Home</li>
			</a>
			{%- if site.rawposts.archives -%}
			<a href="{{ site.baseurl}}/archive">
				<li class="icon-archive-1">Archives</li>
			</a>
			{%- endif -%}
			{%- if site.rawposts.categories -%}
			<a href="{{ site.baseurl}}/category">
				<li class="icon-tags-1">Categories</li>
			</a>
			{%- endif -%}
			<a href="{{ site.baseurl}}/about">
				<li class="icon-help-circled-3">About</li>
			</a>
		</div>
		<!--put hide menu button here, display @ small screen (< $mobileW) -->
		<div class = "menu-btn-box"><a class="menu-btn"></a></div>
		<!--put hide menu here, display @ small screen (< $mobileW) -->
		<div class="context-menu">
			<div>
				<a class="icon-home" href="{{ site.baseurl}}/blog/index.html">Home</a>
			</div>
			{%- if site.rawposts.archives -%}
			<div>
				<a href="{{ site.baseurl}}/archive">
					<li class="icon-archive-1">Archives</li>
				</a>
			</div>
			{%- endif -%}
			{%- if site.rawposts.categories -%}
			<div>
				<a href="{{ site.baseurl}}/category">
					<li class="icon-tags-1">Categories</li>
				</a>
			</div>
			{%- endif -%}
			<div class = "icon-font">
				<a href="{{ site.baseurl}}/about" style = "padding-right:0px">
					<li class="icon-help-circled-3 ">About</li>
				</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
        $('.menu-btn').on('click',function(e){
		
			e.stopPropagation();
			var tag = $('.context-menu');
			$(tag).toggle(200);
			
			var flag = true;
			/* hide the context-menu when other element is clicked */
			$(document).bind('click',function(e){
				var target = $(e.target);
				if(target.closest(tag).length == 0 && flag == true){
					$(tag).hide(200);
					flag = false;
				}
			});
        })
</script>