

<div class="post-container">
<div  class = "menu">
<div  style="font-size:180%;font-weight:900; margin-top: 20px">BLOG</div>
<div  style = "margin-top: 20px">
<a style ="margin-right:15px" href="{{ site.baseurl}}/blog/index.html">
    <span class="icon-doc-text">Posts</span>
</a>
<a  style ="margin-right:15px" href="{{ site.baseurl}}/archive">
    <span class="icon-archive-1">Archives</span>
</a>
<a  style ="margin-right:15px" href="{{ site.baseurl}}/category">
    <span class="icon-tags-1">Categories</span>
</a>
<a  style ="margin-right:15px" href="{{ site.baseurl}}/about">
    <span class="icon-help">About</span>
</a>
</div>
</div>
</div>