

<div class="post-container" style = "height=100px; margin-bottom: 146px; ">
<div class = "" style="width = 200px; height = 100px; float: left; margin-left:0px; margin-right:180px; margin-bottom:25px; white-space:pre;font-family:微软雅黑,SimSun,宋体;font-size:180%;color:#666">
DAVID DONG的博客
</div>
<a class="label" href="{{ site.baseurl}}/blog/index.html">
    <span class="icon-home">Home</span>
</a>
<a class="label" href="{{ site.baseurl}}/Archive">
    <span class="icon-archive-1">Archive</span>
</a>

<a class="label" href="{{ site.baseurl}}/">
    <span class="icon-help">About</span>
</a>

</div>