.dark,
.dark * {
	$dark_text_color: #f6f6f6;
	$dark_link_color: #4da3ff;
	background-color: #171717;
	color: $dark_text_color;
	border-color: #e6e6e6;
	
	.social [class^="icon-"] {
		color: $dark_text_color; 
		&:hover {
			color: $dark_link_color;
		}
	}

	#posts-label {
		color: $dark_text_color;
		border-bottom: 1px solid #f6f6f6;
	}
	
	#posts-label-chinese {
		color: $dark_text_color;
		border-bottom: 1px solid #f6f6f6;
	}

	@import 'ext/solarized-dark';
	.highlight, .highlight * 
	{
		background-color: #00080a;
		color: #93a1a1;
	}

	div.highlight-dark {
		padding: 5px 20px;
	}

	.post-categories-pin {
		li {
			background-color: #8E8E8E;
			color: black;
		}
		a {
			background-color: #333;
			color: #fff;
			&:hover {
				color: $dark_link_color;
			}
		}
	}
	.menu{
		a {
         &:hover {
	        background-color: #171717;;
          }
        }
	}
	.pagination-box-select{
		border:2px solid #333;
		background-color: #333;
    }
	.pagination-box{
		border:2px solid #333;
		color: #E67E22;
	}
	.pagination{
		a {
			&:hover {
				background-color: #333;
			}
		}
	}
    .navigation-bar {
		box-shadow: 0px 0px 0px #171717;
	    a {
			color: #fff;
			&:hover {
			    color: $dark_link_color;
				background-color: #333;
			}
		}
    }
	.post-categories {
		li {
			background-color: #333;
			color: #fff;
		}
		a {
			background-color: #333;
			color: #fff;
			&:hover {
			color: $dark_link_color;
		}
		}
	}
	.archive-categories {
	    a {
		    color: white;
			&:hover {
			  color: $dark_link_color;
		    }
		}
	}
	.archive-categories-least {
	    a {
		    color: white;
			&:hover {
			  color: $dark_link_color;
		    }
		}
	}
	.archive-categories-emphasis {
	    a {
		    color: white;
			&:hover {
			  color: $dark_link_color;
		    }
		}
	}
	.tag-categories {
	    a {
		    color: white;
			&:hover {
			  color: #CB4335;
		    }
		}
	}
	.tag-categories-least {
	    a {
		    color: white;
			&:hover {
			  color: #CB4335;
		    }
		}
	}
	.tag-categories-emphasis {
	    a {
		    color: white;
			&:hover {
			  color: #CB4335;
		    }
		}
	}
 	.readingtime-categories {
		li {
			background-color: #171717;
			color: #E67E22;
			&:hover {
			color: $dark_link_color;
			background-color: #333;
		}
		}
		a {
			background-color: #333;
			color: #fff;
			&:hover {
			color: $dark_link_color;
		  }
		}
	}   
	a {
		color: $dark_link_color;
	}
	#title a {
		color: #fff;
		&:hover {
			color: $dark_link_color;
		}
	}
	.morebox {
		&:hover {
			color: $dark_link_color;
		}
	}
	.icon_font{
		&:hover {
			color: $dark_link_color;
		}
	}
	.post-title {
		&:hover {
			color: $dark_link_color;
		}
	}
	.post-wrapper{
		border-bottom:1px solid #474747;
	}
	.archive-link {
		&:hover {
			color: $dark_link_color;
		}
	}
	.posts-labelgroup {

		.search-results {
			background-color: #333;

			a {
				color: white;

				&:hover {
					background-color: #171717;
				}
			}
		}
	
		.search-section i {
			background-color: transparent;
		}
	}
	
	.posts-labelgroup:hover {

		i {
			color: white;
		}

		input {
			color: white;
		}
	}


	.posts-labelgroup.focus-within {
	
		.search-section {
			background-color: #333;
		}

		input {
			color: $dark_text_color;
		}

		i {
			color: white;
		}
	}
}
.dark table {
	th, td {
		border: 1px solid #888;
	}
	th {
		background-color: #444;
	}
}

.dark blockquote {
  border-left: 6px solid #888;
  color: #777;
}

.dark code, tt {
  color: #DC143C;
  background-color: #444;
}