@import "ext/fonts";
@import "ext/normalize";
@import "syntax";

$linkColor: #0366d6;
$btnColor: #0366d6;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 210px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Arial', 'Microsoft Yahei', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #000;
  transition: color 0.3s;
  &:hover {
    color: $linkColor;
  }
}

h2 {
  margin: 0.7em 0;
}
main {
  margin: 0 90px;
  display: flex;
  height: 100%;

  @media screen and (min-width: $bigScreenW) {
    margin: 0 auto;
    max-width: 1440px;
  }
  @media screen and (max-width: 1280px) {
    margin: 0px 40px 0px 75px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 35px;
  }

  @media screen and (max-width: $mobileW) {
    margin: 0 10px;
    flex-direction: column;
  }
  @media screen and (max-width: $smallMobileW) {
    margin: 0;
  }

  .content {
    @media screen and (min-width: $mobileW + 1) {
      max-width: calc(100% - #{$leftWidth});
      margin-left: $leftWidth;
      width: 100%;
    }
  }
  .about {
    display: flex;
    height: 100vh;
	padding-top: 10vh;
    padding-bottom: 0vh;
    @media screen and (max-width: $mobileW) {
      height: auto;
      padding: 10vh 0;
    }
	@media screen and (max-width: $smallMobileW) {
      padding: 10vh 20px;
    }
    @media screen and (min-width: $mobileW + 1) {
      position: fixed;
    }
    min-width: $leftWidth;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 0;
      color: #222222;
      font-weight: normal;
    }
    .tagline {
      font-family: 'Raleway', 'Arial', 'Microsoft Yahei', sans-serif;
      text-align: center;
      font-size: 18px;
      margin-top: 0px;
      color: #aaa;
      white-space: pre-wrap;
      line-height: normal;
    }
	.tagline-small {
		font-family: 'Raleway', 'Arial', 'Microsoft Yahei', sans-serif;
		color: #aaa;
		display: none;
		margin: 0;
		padding: 0;
	}
    img {
      max-width: 150px;
    }
	img.dark {
      display: none;
    }
    .about-header {
      display: flex;
      flex-direction: column;
      .about-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 17px;
		.title-meta{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
      }
    }
  }
}
#title {
  font-family: 'Raleway', 'Arial', 'Microsoft Yahei', sans-serif;
  a {
    text-decoration: none;
  }
}
.contact {
  font-size: 10px;
  color: #222;
  text-align: center;
}
.timestamp {
  font-size: 10px;
  color: #222;
  text-align: center;
}
.icon-box-container {
	  width: 140px;
	  margin: 10px 0;
}
.icon-box {
	padding: 7px 5px;
	border-bottom: 1px dashed #D5DBDB ;
	
	a {
		text-decoration: none;
		font-size: 18px;
		color: #000;
		span {
			font-size: 15px;
			padding-left: 10px;
			display: inline;
		}
		&:hover {
			color: $linkColor;
			cursor: pointer;
		}
	}
}
.togglemode {
	font-family: "fontello";
	font-size: 18px;
	span {
		font-family: Roboto, Arial, 'Microsoft Yahei', sans-serif;
		
		font-size: 15px;
		padding-left: 10px;
		display: inline;
	}
}
.dark-mode:before {
	content:'\e80e';
	margin-right: 7px;
}
.light-mode:before {
	content:'\e80b';
	margin-right: 7px;
}
.social-container {
	padding-top: 15px;
	padding-bottom: 15px;
}
.social {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    margin-bottom: 0em;
  }
  li {
    i {
      font-size: 28px;
    }
  }
}
.navigation {
  width: 80%;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li:last-child {
      a {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      font-family: 'Raleway', 'Arial', 'Microsoft Yahei', sans-serif;
      text-align: center;
      padding: 1rem 0;
      text-decoration: none;
      border-bottom: 1px solid #ececec;

      @media screen and (max-width: $mobileW) {
        padding: 2rem 0;
      }
    }
  }
}
.post-wrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem;
}
.readingtime{
	font-weight: 400;
	font-size: 14px;
	white-space: pre;
	line-height: 1.9em;
	color: #666;
	width: 160px;
}

.readingtime-categories {
  font-size: 14px;
  list-style-type: none;
  text-decoration: none;
  span {
	color: $btnColor;
    padding: 5px 0 5px 5px;
    border-radius: 4px;
	text-align: right;
	&:hover {
      color:white;
	  background-color: $btnColor;
    }
    @media screen and (max-width: $mobileW) {
      margin-top: 5px;
	  margin-left: 14px;
    }
  }
}
.readingtime-meta {
  margin-top:21px;
  margin-bottom:21px;
  display: flex;
  flex-direction:row;
  line-height: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  @media screen and (max-width: $mobileW) {
    flex-direction: column;
    align-items: baseline;
	align-content:stretch;
  }
}
.readingtime-box {
	display: flex;
	flex-direction:row;
	justify-content: flex-start;
}
.navigation-meta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  margin: auto;
  margin-bottom:50px;
  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: center;
	align-content:stretch;
  }
}
.navigation-bar {
  font-weight:bold;
  font-size:15px;
  list-style-type: none;
  margin-top: 40px;
  min-width:40%;
  padding: 0;
  border:1px solid #eee;;
  box-shadow: 2px 2px 5px #e3e3e3;
 
  a {
    display: inline-block;
	width: 100%;
	height: 100%;
	text-align:center;
    padding: 20px 20px;
    border-radius: 2px;
	line-height: 1.6em;
    @media screen and (max-width: $mobileW) {
      margin-top: 0px;
    }
    text-decoration: none;
    &:hover {
      color:white;
	  background-color: $btnColor;
    }
	span {
		font-size:14px;
		font-weight: normal;
		display: inline;
	}
  }
}

/* post category style sheet */
.post-categories {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0;
  @media screen and (max-width: $mobileW) {
      margin-top: 5px;
  }
  a {
    text-decoration: none;
    font-size: 13px;
    background-color: #F2F4F4;
	border: 1px solid #E5E7E9;
    
    border-radius: 2px;
	&:hover {
	  background-color: #F8F9F9;
    }
	margin-right: 10px;
  }
}
.post-pin-categories-padding {
  a {
    padding: 4px 10px 4px 7px;
  }
}
.post-categories-padding {
	a {
		padding: 3px 10px;
	}
}
.post-categories-meta {
  margin-bottom:80px;
  margin-left:4px;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}
.post-categories-box-hide {
  @media screen and (min-width: $mobileW + 256px) {
		display: none;
  }
}
.post-categories-box {
  list-style-type: none;
  a {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    background: #e1ecf4;
	color:$linkColor;
	border: 1px solid #e1ecf4;
    padding: .4em .5em;
    border-radius: 3px;
	&:hover {
	  background-color: #F8F9F9;
    }
    @media screen and (max-width: $mobileW) {
      margin-top: 5px;
    }
    margin-left: 10px;
  }
}

/* post date style sheet */
.post-date-right-align {
  color: #666;
  min-width: 150px;
  font-size: 14px;
  text-align:right;
  margin-left: 0px;
  margin-right: 4px;
  padding-left: 0px;
  
  @media screen and (max-width: $mobileW) {
	  margin-bottom: 10px;
	  text-align: left;
  }
}
.post-date {
  color: #666;
  min-width: 150px;
  font-size: 15px;
  text-align:left;
  margin-left: 0px;
  padding-left: 5px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;
  }
}

/* archive & category style sheet */
.signboard-meta {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content : flex-start;
  align-items : flex-start;
  align-content: flex-start;
}
.archive-meta {
  margin-left:15px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: $mobileW) {
    flex-direction: column;
    align-items: baseline;
	align-content:center;
	line-height: 1.6rem;
  }
}
.category-meta {
  margin-left:15px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;
	align-content:center;
	line-height: 1.6rem;
  }
}
.extension-post-date {

	@media screen and (max-width: $mobileW) {
		margin-top: 10px;
		margin-bottom: 2px;
  }
}
.archive-post-date {
	margin-right:30px; 
	width:180px;
	@media screen and (max-width: $mobileW) {
		margin-top: 10px;
		margin-bottom: 0;
  }
}
.archive{
  margin-top: 32px;
}
.extension-title {
  line-height: 1.2em;
  font-size: 20px;
  margin-top:40px; 
  margin-bottom:10px; 
  font-weight:600;
}
.link {
	margin-left: 5px;
	font-size:15px;
	font-weight: 400;
	color: #222;
	&:hover {
		color:$linkColor;
		text-decoration: underline;
	}
	@media screen and (max-width: $mobileW) {
		font-size: 16px;
		padding: 0;
		margin-top: 0;
		margin-bottom: 10px;
	}
}
.extension-background {
	background-color: #f8f8f8;
}
.archive-label-lightblue {
  a {
    background-color: #AED6F1;
	span {
		background-color: #AED6F1;
	}
  }
}
.archive-label-darkblue {
  a {
    background-color: #21618C;
	span {
		background-color: #21618C;
	}
  }
}
.archive-label-blue {
  a {
    background-color: $btnColor;
	span {
		background-color: $btnColor;
	}
  }
}
.signboard {
	margin-bottom: 20px;
	margin-right: 10px;
	a {
		padding: 6px 20px 6px 22px;
		font-size: 14px;
		border-radius: 40px;
		color: #ffffff;
		text-decoration: none;
		
		span {
			color: #ffffff;
			font-family: Roboto, sans-serif;
			vertical-align:super;
			font-size: 10px;
			padding-left: 2px;
		}
		
		@media screen and (max-width: $mobileW) {
		  margin-top: 5px;
		}
		
		&:hover {
			background-color: #e3e3e3;
			span {
				background-color: #e3e3e3;
			}
		}
	}
}
.signboard-archive {
	a {
		&:hover {
			color: $linkColor;
			span {
				color: $linkColor;
			}
		}
	}
}
.signboard-tag {
    a {
		font-family: Raleway, Arial, sans-serif; 		
		&:hover {
			color: #CB4335;
			font-weight: bold;
			span {
				color: #CB4335;
				font-weight: bold;
			}
		}
	}
}
.tag-label-pink {
  a {
    background-color: #F1948A;
	span {
		background-color: #F1948A;
	}
  }
}
.tag-label-red {
  a {
    background-color: #E74C3C;
	span {
		 background-color: #E74C3C;
	}
  }
}
.tag-label-orange {
  a {
    background-color: #F39C12;
	span {
		background-color: #F39C12;
	}
  }
}

/* post style sheet */
.post-link {
  text-decoration: none;
}
.post-title {
  line-height: 1.2em;
  font-size: 28px;
}
.post-title-body {
	line-height: 1.2em;
	font-size: 34px;
	@media screen and (max-width: $mobileW) {
		font-size: 30px;
  }
}
.posts,
.post-container {
  list-style-type: none;
  margin: 10px 100px 0px 30px;
  padding-left: 30px;
  @media screen and (max-width: $mobileW + 256px) {
	margin-left: 20px; /* !import for small device */
    margin-right: 20px;
  }
   @media screen and (max-width: $mobileW) {
    padding: 0 !important;
    margin-top: 0;
    max-width: $mobileW;
  }
}
.post-fix-width {
  
  flex-shrink: 2; /* default 1 !important guarantee the post contents width constant */
  flex-grow: 1;
  @media screen and (min-width: $mobileW + 1) {
       max-width: 85%; /* fix the width */
	   min-width: 100px;
       width: 100%;
   }
   @media screen and (max-width: $mobileW + 256px) {
		margin-right:30px;
   }
   @media screen and (max-width: $mobileW) {
		padding: 0;
		margin: 0; /* no margin to parent */
		width: 100%;
   }
}
.post {
  
  font-weight: 400;
  color: #000;
  line-height: 1.8em;
  a {
    color: $linkColor;
    text-decoration: none;
	transition: border-bottom 0.4s;
    &:hover {
		border-bottom: 0.5px solid $linkColor;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: 'Roboto', 'Arial', 'Microsoft Yahei', sans-serif;
  }
}
.posts-labelgroup {
  margin: 0 0 0 0;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #eeeeee;
}
.about-page{
  
  margin: 15px 2px;
  font-weight: 400;
  color: #222;
  line-height: 1.8em;
  a {
    color: $linkColor;
    text-decoration: none;
	transition: border-bottom 0.4s;
    &:hover {
		border-bottom: 0.5px solid $linkColor;
    }
  }
}
.about-page-meta{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content : center;
  align-items : center;
  align-content: flex-start;
  
  @media screen and (max-width: $smallMobileW) {
    margin-left: 0px;
    margin-right: 0px;
	margin-top: 0px;
  }
  @media screen and (max-width: $mobileW) {
    padding: 0px !important;
    margin-top: 0px;
  }
}
.about-page-box-link-none {
    font-family: 'Raleway', 'Arial', 'Microsoft Yahei', sans-serif;
	margin: 40px 2px;
	font-size: 18px;
	font-weight: 400;
	border-radius: 4px;
	line-height: 1.9em;
	a {
	    color: white;
	    background-color: #ececec;
	    display: inline-block;
		width: 120px;
		border-radius: 4px;
		text-align: center;
		text-decoration: none;
	}
}
.about-page-box {
	font-family: 'Raleway', 'Arial', 'Microsoft Yahei', sans-serif;
	margin: 40px 2px;
	font-size: 18px;
	font-weight: 400;
	border-radius: 4px;
	line-height: 1.9em;
	a {
		color: white;
		background-color: $btnColor;
		display: inline-block;
		width: 120px;
		border-radius: 4px;
		text-align: center;
		text-decoration: none;
		&:hover {
		  background-color: #ececec;
		  color: $btnColor;
		}
	}
	@media screen and (max-width: $smallMobileW) {
		font-size: 16px;
	}
	@media screen and (max-width: $mobileW) {
		font-size: 16px;
	}
}
#posts-label-chinese {
  
  margin: 0px 2px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  font-weight: bold;
}
#posts-label {
  font-family: 'Raleway', 'Arial', 'Microsoft Yahei', sans-serif;
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 0;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  transition: width 0.1s;
}
.menu-meta {
  font-size: 90%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content : space-between;
  align-items : center;
  align-content: space-between;
  align-items : center;
  align-content: space-between;
  margin-top: 20px;
  margin-bottom: 36px;
  text-decoration: none;
  min-width: 100px;
  @media screen and (max-width: $mobileW) {
		margin: 0px;
  }
}
.menu-logo {
  font-family: 'Poppins', 'Arial', 'Microsoft Yahei', sans-serif;
  font-size: 200%;
  font-weight:900;
  color:#222;
  margin-right: 100px;
  margin-top: 20px;
  @media screen and (max-width: $mobileW) {
		display: none;
  }
}
.menu-btn-box {
  @media screen and (min-width: $mobileW +1px) {
		display: none;
  }
}
.menu-btn {
	font-family: "fontello";
    padding: 8px;
    font-size: 26px;
	background-color: #fff;
    text-decoration: none;
	color: #222;
    cursor: pointer;
	position: absolute;
    right: 5px;
    top: 5px;
}
.menu-btn:before {
    content:'\f0c9';
}
.context-menu {
	display: none;
	@media screen and (min-width: $mobileW +1px) {
		display: none;
    }
}
.context-menu-show {
	display: block;
	cursor: pointer;
	position: absolute;
    right: 5px;
    top: 50px;
	background-color:#000;
	z-index: 999;
	
	a {
		color: #E5E7E9;
		padding: 1rem 4rem 1rem 1.2rem;
		display: block;
		border-bottom: 1px solid #D5DBDB;
		text-decoration: none;
		&:hover {
			color: #ffffff;
			border-bottom: 1px solid #ffffff;
		}
	}
	ul {
		list-style: none; 
		padding:0;
		margin:0;
	}
	
	@media screen and (min-width: $mobileW +1px) {
		display: none;
    }
}
.menu{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content : space-between;
  align-items : center;
  align-content: flex-start;
  text-decoration: none;
  width: 340px;
  font-weight:400;
  color:#222;
  margin-top: 20px;
  @media screen and (max-width: $mobileW) {
		display: none;
  }
  a {
    transition: color 0.2s, border-bottom 0.2s;
	text-decoration: none;
	text-align: center;
	border-bottom: 2px solid #ffffff;
	margin-top: 5px; 
	li{
		padding: 3px 4px 3px 0px;
	}
    &:hover {
      color: $btnColor;
	  border-bottom: 2px solid $btnColor;
    }
  }
}
.pagination-box-idle {
	border:2px solid #eee;
	color: #888888;
}
.pagination-box-hit{
	
    border:2px solid $btnColor;
    color: #ffffff;
	background-color: $btnColor;
}
.pagination-box{
    font-family: 'Verdana', 'Arial', 'Microsoft Yahei', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 4px 8px;
	border-radius: 50%;
	text-align:center;
	align-items: center;
}
.pagination{
    font-family: 'Verdana', 'Arial', 'Microsoft Yahei', sans-serif;
	width:100%;
	text-align:center;
	font-weight: 200;
	font-size: 14px;
    color: #888;
	align-items: center;
	a {
		text-decoration: none;
		
		&:hover {
			color:#ffffff;
			background-color: $btnColor;
			border: 2px solid $btnColor;
		}
	}
}

.footer {
    font-family: 'Raleway', 'Arial', sans-serif;
	margin-bottom: 30px;
	text-align:center;
	font-weight: 300;
	font-size: 12px;
    color: #888;
	white-space: pre-wrap;
	
	a {
	    color: $linkColor;
		text-decoration: none;
		transition: border-bottom 0.4s;
		&:hover {
		border-bottom: 0.5px solid $linkColor;
		}
	}
}
blockquote {
  border-left: 6px solid $btnColor;
  background-color: rgba(158,188,226,0.12);
  font-size: 15px;
  border-radius: 2px;
  padding: 15px 15px;
  margin: 1rem 5px;
  position: relative;
  box-shadow: 1px 1px 2px 1px #d8d8d8;
}
pre, code, tt {
  font-family:  'Roboto Mono', 'Consolas', 'Courier', 'monospace','Microsoft Yahei',sans-serif;
  font-size: 16px;
}

code, tt {
  font-family: 'Roboto', 'Arial', 'Microsoft Yahei', sans-serif;
  margin: 0 0px;
  font-size: 14px;
  padding: 4px 4px;
  white-space: nowrap;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre>code {
  font-family: 'Roboto Mono', Consolas, Courier, monospace,'Microsoft Yahei',sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  white-space: pre;
  border: none;
  background: transparent;
}

pre {
  font-size: 16px;
  line-height: 1.6em;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 4px;
}
table {
  margin: 30px auto;
  border-radius: 2px;
  border-collapse: collapse;
  border-style:hidden;
  box-shadow: 1px 1px 2px 1px #d8d8d8;
  empty-cells: show; 
  font-family: 'Roboto', 'Arial', 'Microsoft Yahei', sans-serif;
  th, td {
    padding: 8px 13px;
    border: 1px solid #d8d8d8;
  }
  th {
    color: #eee;
	font-weight: 400;
    background-color: #272822;
	white-space: nowrap;
  }
  td {
	
  }
  tbody tr:nth-child(2n) {
    background: rgba(158,188,226,0.12); 
		&:hover {
			background: #efefef; 
	  }
  }
  tr:hover {
    background: #efefef; 
  }
}
.center-image
{
    margin: 30px auto;
    display: block;
	border-radius: 4px;
	
	/* add shadow for images 
    box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    webkit-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    moz-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    o-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
	*/
}
.web-statistics
{
    font-family: 'Roboto', sans-serif;
	padding: 5px 5px;
	color: #999;
	font-weight: 200;
}
.separator {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #eeeeee;
}
.post-viewer-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: baseline; /* disable stretch for sidebar */
	list-style-type: none;
	margin: 0px 0px 0px 30px;
	padding-left: 30px;
	@media screen and (min-width: $mobileW + 1) {
      	max-width: calc(100% +1px); /* !important, widen the area to accormadate the sidebar */
      	width: 100%;
  	}
	/* should be useless since display none at small device */
    @media screen and (max-width: $mobileW + 256px) {
		margin-left: 20px; /* !import for small device */
		margin-right: 20px;
	}
	@media screen and (max-width: $mobileW) {
		padding: 0 !important;
		margin-top: 0;
		max-width: $mobileW
	  }
}

.sidebar-toc-box {
  border-left: 1px solid #D0D3D4;
  overflow: auto;
  min-width: 100px;
  position: relative;
  left:0px;
  top: 150px;
  margin-left: 0px;
  font-weight: 400;
  color: #000;
  p {
	margin:0;
  }
  a{
	padding: 2px 2px;
    width: 100%;
	height: 100%;
	display: block;
	color: $btnColor;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
    }
  }
  
  @media screen and (max-width: $smallMobileW) {
		display: none; /* no sidebar display */
  }
  @media screen and (max-width: $mobileW) {
		display: none;
  }
  @media screen and (max-width: $mobileW + 256px) {
		display: none;
  }
}
.post-view {
	width: inherit;
	margin-top: 40px;
	span {
		text-align: right;
		p {
			width: 60px;
		}
	}
}
.tooltip {		/* tooltip style */
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  font-size: 14px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  
  /* position */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -15px;
  
  /* 淡入工具提示 - 用 1 秒从完全不可见变为可见： */
  opacity: 0;
  transition: opacity 1s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-width: 3px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.share-box-meta {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center; /* disable stretch for sidebar */
	align-content: center;
	margin-bottom: 40px;
}
.share-box {
	border: 1px solid #ececec;
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
}
.related-posts-box {
	margin-bottom: 40px;
	border: 1px solid #ececec;
	border-radius: 10px;
	font-size:15px;
	a {
		border-radius: 4px;
	    line-height: 1.8em;
		padding: 5px 10px;
		text-decoration: none;
		color: $btnColor;
		&:hover {
			text-decoration: underline;
		}
	}
}
.sidebar-container-hide {
	display: none;
}
.sidebar-container {
	margin-left: 30px;
    flex-shrink: 0; /* default 1 !important guarantee the post contents width constant */
	max-width: 240px;
    min-width: 10px;
    
    @media screen and (max-width: $smallMobileW) {
		display: none; /* no sidebar display */
  }
  @media screen and (max-width: $mobileW) {
		display: none;
  }
  @media screen and (max-width: $mobileW + 256px) {
		display: none;
  }
}
.sidebar-about-box {
    border-left: 1px solid #D0D3D4;
	position: relative;
	left: 0px;
	top: 50px;
	a {
		color: $linkColor;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.sidebar-about-content {
	padding: 1px 20px;
}
.sidebar-font-big {
	font-size: 13px;
}
.sidebar-font-medium {
	font-size: 12px;
}
.sidebar-title {
    color: #222;
	font-weight: bold;
	text-align: left;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 10px;
	text-decoration: underline;
}
.sidebar-toc-content {
}
.travis-building-box {
	text-align:left; 
	margin-top: 40px;
}

.info {

	border-bottom: 2px solid $linkColor;
	border-top: 2px solid $linkColor;
	
	.header {
		color: $linkColor;
	}
	.header:before {
		content: '\e811';
	}
	p {
		color: $linkColor;
	}
}
.post-note {
    margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	.header {
		width: 40px;
	}
	.header:before {
		font-family: "fontello";
		padding-left: 2px;
		padding-right: 20px;
		font-weight: bold;
	}
    .body {
		p {
			margin: 0;
			padding: 0;
		}
		ul {
			margin-bottom: 0;
		}
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		span {
			margin: 0 0px;
			font-size: 14px;
			padding: 4px 4px;
			white-space: nowrap;
			color: #c7254e;
			background-color: #f9f2f4;
			border-radius: 4px;
		}
	}
}
.warning {
    border-top: 2px solid #eb0f00;
	border-bottom: 2px solid #eb0f00;
	
	.header {
		color: #eb0f00;
	}
	.header:before {
		content: '\e812';
	}
	p {
		color: #eb0f00;
	}
}
.sidebar-btn-box {

  @media screen and (max-width: $mobileW + 256px) {
		display: none;
  }
}
.btn{
   
	font-family: "fontello";
    padding: 8px;
    font-size: 18px;
	background-color: #fff;
    border: 1px solid #dadce0;
    text-decoration: none;
	color: #222;
    cursor: pointer;
	position: absolute;
    right: 20px;
    top: 170px;
	&:hover {
		border: 2px solid $linkColor;
	}
}
.btn:before{
    content:'\e809';
}
.btnc:before{
    content:'\f0c9';
}


@media screen and (max-width: $mobileW) {
	
  .about.condensed {
      margin:30px 0;
	  padding:0;
    } 
  .about {
    .about-header.condensed {
      align-items: start;
      align-self: start;
	  margin-left: 19px;
	  margin-bottom: 0;
	  padding-bottom:0;
      .about-title {
        flex-direction: row;
		align-items: flex-end;
        margin-bottom: 0px;
        img {
          max-height: 60px;
        }
        h2 {
          margin: 0 10px;
        }
      }
      .tagline {
        font-size: 16px;
        margin-bottom: 0px;
		display: none;
      }
	  .tagline-small {
		display: block;
		margin: 5px 10px 6px 10px;
		font-size: 12px;
	  }
    }
    .about-footer.condensed {
      display: none;
    }
  }
}