---
layout: default
title: Categories
permalink: /category
---

<!-- Begin List Posts
================================================== -->

{% include title.html %}

<div class="post-container">
<li class="posts-labelgroup" id="posts-labelgroup">
	<h1 id="posts-label">{{page.title}}</h1>
    <!-- Put search box here -->
    <div class="search-container">
        <div class="search-section">
          <i class="icon-search-5"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
    </div>
</li>
<div class ="archive">	
{% comment %}calculate the post count for each category{% endcomment %}
{% assign count = "" %}
{% assign counts = "" %}
{% for tag in site.categories reversed %}
  {% for post in tag[1] %}
	{% assign count = count | plus: 1 %}
  {% endfor %}
  {% assign counts = counts | append: count | append: ', ' %}
  {% assign count = "" %}
{% endfor %}

{% comment %}show navigation label here{% endcomment %}
<div class="archive-label-meta" style ="margin-top:30px; margin-bottom:40px">
{% assign i = 0 %}
{% assign counts = counts | split: ', ' %}
{% for tag in site.categories reversed  %}
{% comment %}convert a string to number{% endcomment %}
{% assign number = counts[i] | plus:0 %}
{% if number > 10 %}
<ul class="tag-categories-emphasis">       
     <a href="#{{tag[0]}}" style = "font-family: Raleway,Arial,sans-serif; font-size:14px">{{ tag[0] }} ( {{counts[i]}} )</a>
</ul>
{% elsif number < 5 %}
<ul class="tag-categories">       
     <a href="#{{tag[0]}}" style = "font-family: Raleway,Arial,sans-serif; font-size:14px">{{ tag[0] }} ( {{counts[i]}} )</a>
</ul>
{% else %}
<ul class="tag-categories-least">       
     <a href="#{{tag[0]}}" style = "font-family: Raleway,Arial,sans-serif; font-size:14px">{{ tag[0] }} ( {{counts[i]}} )</a>
</ul>
{% endif %}
{% assign i = i | plus: 1 %}
{% endfor %}
</div>
{% assign j = 0 %}
{% comment %}list post link for each category{% endcomment %}
{% for tag in site.categories reversed %}
<div>
<h3 id = "{{tag[0]}}" class="archive-title">{{tag[0]}}</h3>
{% for post in tag[1] %}
	{% if j == 0 %}
	   {% assign j = j | plus: 1 %}
	{% else %}
	   {% assign j = j | minus: 1 %}
	{% endif %}
	
	{% if j == 0 %}
	{%- assign date_format = site.rawposts.date_format | default: "%b %-d, %Y" -%}
    <div class="category-meta archive-background" style="margin-left:15px; line-height: 16px">
		<a class="post-link" href="{{ post.url | relative_url }}">
		<h2 class="archive-link" >&bull; {{ post.title | escape }}</h2>
		</a>
        <div class="post-date">
          <span class="icon-calendar">
            {{ post.date | date: date_format }}</span>
		</div>
	</div>
	{% else %}
	<div class="category-meta" style="margin-left:15px; line-height: 16px">
		<a class="post-link" href="{{ post.url | relative_url }}">
		<h2 class="archive-link" >&bull; {{ post.title | escape }}</h2>
		</a>
        <div class="post-date">
          <span class="icon-calendar">
            {{ post.date | date: date_format }}</span>
		</div>
    </div>
	{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>
{% comment %}footer{% endcomment %}
<div class ="footer" style="margin-top:80px">
Copyright © {{ site.time | date: "%Y" }} {{ site.title }}  |  <a href = "https://github.com/gangdong/daviddong.github.io"> Github Project </a> powered by Jekyll
</div>
<br>
</div>