<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
  {%- if site.rawposts.show_statistics -%}
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  {%- endif -%}
    <main class="container">
      <section class="about">
        <a href="{{site.baseurl}}/blog/index.html"><img src="{{ "/assets/avatar.png" | relative_url }}" alt="{{ site.rawposts.name }}"></a>
        <h2 id="title">
          <a href="{{site.baseurl}}/blog/index.html">{{ site.rawposts.name }}</a>
        </h2>
        <p class="tagline">{{ site.rawposts.tagline }}</p>
        <ul class="social">
		   <a href="https://rainbow-ux.github.io/traveler-blog.github.io">
              <li>
                <i class="icon-picture-3"></i>
              </li>
           </a>
          {%- if site.rawposts.social_links.github -%}
            <a href="https://github.com/gangdong">
              <li>
                <i class="icon-github-circled-1"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.rawposts.social_links.linkedIn -%}
            <a href="https://www.linkedin.com/in/刚-董-25208ba0/">
              <li>
                <i class="icon-linkedin-squared"></i>
              </li>
            </a>
          {%- endif -%}
        </ul>

        {%- if site.rawposts.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.rawposts.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy;
          {{ "now" | date: "%Y" }}</p>
		{%- if site.rawposts.dark_mode -%}
		<div>
        <p style = "font-family: Raleway, sans-serif;font-size: 100%">Dark Theme
          <i class="icon-moon"></i>
          <label class="switch">
            <input type="checkbox" id="dark-mode-toggle" onclick="toggleDarkMode()">
            <span class="slider round"></span>
          </label>
        </p>
      </div>
      <script type="text/javascript" src="{{site.baseurl}}/assets/js/darkmode.js"></script>
      {%- endif -%}
	  <div>
        <ul class="social" style="padding-top: 3vh">
			{%- if site.rawposts.rss -%}
		   <a style ="margin-right:10px;text-decoration: none;font-family: Raleway, sans-serif;" href="{{site.baseurl}}/rss.xml">
              <span class="icon-rss-1">rss</span>
           </a>
			{%- endif -%}
			{%- if site.rawposts.source_code -%}
            <a style="text-decoration: none;font-family: Raleway, sans-serif;" href="https://github.com/gangdong/daviddong.github.io">
              <span class="icon-file-code">code</span>
            </a>
			{%- endif -%}
        </ul>
      </div>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {%- if site.rawposts.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.rawposts.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.rawposts.analytics_id }}');
	</script>
    {%- endif -%} 
  </body>
</html>
