<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>

{%- if site.rawposts.condensed_mobile contains page.layout -%}
{% assign condensed_class = "condensed" %}
{% else %}
{% assign condensed_class = "" %}
{%- endif -%}

  <body>
    <main class="container">
      <section class="about {{condensed_class}}">
	    <div class="about-header {{condensed_class}}">
        <div class="about-title">
        <a href="{{site.baseurl}}/blog/index.html">
		  <img src="{{site.cdn_baseurl}}/assets/avatar.png" alt="{{ site.rawposts.name }}"/>
		</a>
        <h2 id="title">
          <a href="{{site.baseurl}}/blog/index.html">{{ site.rawposts.name }}</a>
        </h2>
		</div>
        <p class="tagline">{{ site.rawposts.tagline }}</p>
		</div>
		<!--add navigation -->
        {%- if site.rawposts.navigation -%}
          <nav class="navigation about-footer {{condensed_class}}">
            <ul>
              {% for link in site.rawposts.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}
		<!--put dark mode button here -->
		{%- if site.rawposts.dark_mode -%}
		<div class = "about-footer {{condensed_class}}">
		  <ul class = "social">
			<p style = "font-family: Raleway, sans-serif;font-size: 100%">Dark Mode
			  <i class="icon-moon"></i>
			  <label class="switch">
				<input type="checkbox" id="dark-mode-toggle">
				<span class="slider round" onclick="toggleDarkMode()"></span>
			  </label>
			</p>
		  </ul>
		</div>
		{%- endif -%}
		<!--put rss/code link here -->
	    <div>
          <ul class="tool about-footer {{condensed_class}}">
			{%- if site.rawposts.rss -%}
		   <a style ="margin-right:10px; text-decoration: none" href="{{site.baseurl}}/rss.xml">
              <span class="icon-rss-1 tooltip">
				<span class="tooltiptext">Rss</span>
			  </span>
           </a>
			{%- endif -%}
			{%- if site.rawposts.source_code -%}
            <a style="text-decoration: none" href="https://github.com/gangdong/gangdong.github.io">
              <span class="icon-file-code tooltip">
				<span class="tooltiptext">Code</span>
			  </span>
            </a>
			{%- endif -%}
          </ul>
        </div>
	    <!--show contact me -->
	    <div class = "contact about-footer {{condensed_class}}"><li>CONTACT ME</li></div>
		<!-- put social link here -->
		<div>
	      <ul class="social about-footer {{condensed_class}}" >
		   <a href="https://rainbow-ux.github.io/traveler-blog.github.io">
              <li>
                <i class="icon-picture-3"></i>
              </li>
           </a>
          {%- if site.rawposts.social_links.github -%}
            <a href="https://github.com/gangdong">
              <li>
                <i class="icon-github-circled-1"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.rawposts.social_links.linkedIn -%}
            <a href="https://www.linkedin.com/in/刚-董-25208ba0/">
              <li>
                <i class="icon-linkedin-squared"></i>
              </li>
            </a>
          {%- endif -%}
		  {%- if site.rawposts.social_links.mail -%}
            <a href="mailto:dqdongg@hotmail.com">
              <li>
                <i class="icon-mail" style = "font-size: 27px"></i>
              </li>
            </a>
          {%- endif -%}
          </ul>
		</div>
		<!--put timestamp here -->
		<div class ="timestamp about-footer {{condensed_class}}">&copy; {{ "now" | date: "%Y" }}</div>
	  <!-- about box end here -->
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
	

	
    {%- if site.rawposts.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.rawposts.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.rawposts.analytics_id }}');
	</script>
    {%- endif -%} 
	{% if site.rawposts.search %}
	<script async src="{{site.cdn_baseurl}}/assets/js/simple-jekyll-search.min.js"></script>
	<script async src="{{site.cdn_baseurl}}/assets/js/search.js"></script>
	{% endif %}
	{%- if site.rawposts.show_statistics -%}
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	{%- endif -%}
</body>
</html>
