<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv" style='display:none'></span><font size="2" color="#aaa">您是本博客第</font><font size="2" color="#aaa"><span id="busuanzi_value_site_pv"></span></font><font size="2" color="#aaa">位访客！</font>
    <main class="container">
      <section class="about">
        <a href="https://gangdong.github.io/daviddong.github.io/"><img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.Minimal.name }}"></a>
        <h2 id="title">
          <a href="https://gangdong.github.io/daviddong.github.io">{{ site.Minimal.name }}</a>
        </h2>
        <p class="tagline">{{ site.Minimal.tagline }}</p>
        <ul class="social">
          {%- if site.Minimal.social_links.github -%}
            <a href="https://github.com/gangdong">
              <li>
                <i class="icon-github-circled"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.Minimal.social_links.linkedIn -%}
            <a href="https://www.linkedin.com/in/刚-董-25208ba0/">
              <li>
                <i class="icon-linkedin-squared"></i>
              </li>
            </a>
          {%- endif -%}
        </ul>

        {%- if site.Minimal.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.Minimal.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy;
          {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {%- if site.Minimal.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.Minimal.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.Minimal.analytics_id }}');
	</script>
    {%- endif -%} 
  </body>
</html>
