---
layout: default
---
<!-- add menu bar here! -->
{% include title.html %}

{%- assign date_format = site.rawposts.date_format | default: "%b %-d, %Y" -%}

<div class="post-container">
  <li class="posts-labelgroup" id="posts-labelgroup">
	<h1 id="posts-label">POST</h1>
  </li>  
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <ul class="post-categories">
      {%- for tag in page.categories -%}
      <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
    <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
  </div>
</div>
  <!-- post content here! -->
  <!-- if sidebar! -->
  {% if page.sidebar and page.toc %}
  <!-- set fix width box to put content! -->
  <div class="post-viewer-container">
	<div class="post-fix-width">
		{{ content }}
	</div>
	<!-- put sidebar! -->
	<div class = "sidebar-container">
	    <div>
		<li class = "sidebar-about-title">About this article</li>
		<li >About this article</li>
		<li>This article will introduce what MathJax is and how to use MathJax.</li>
		<li>Author: David Dong</li>
		<li>Reading Time:</li>
		<li>Words:</li>
		</div>
	    <div class="post-index-container">
			{% if page.language == 'chinese' %}
			<li class = "post-index">文章目录</li>
			{% else %}
			<li class = "post-index">On this page</li>
			{% endif %}
			<li>{% toc %}</li>
		</div>
	</div>
  </div>
  <!-- no sidebar, use flex width box! -->
  {% else %}
  <div class="post-container">
  <div class="post-fix-width">
    {{ content }}
  </div>
  </div>
  {% endif %}
  <br><br><br>
  <div class="post-container">
  {% if site.rawposts.share_media %}
  <div class = "share-box-meta">
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
	{% if page.language == 'chinese' %}
	<div class="addthis_inline_share_toolbox share-box"><span style ="padding: 2px">分享:</span></div>
	{% else %}
	<div class="addthis_inline_share_toolbox share-box"><span style ="padding: 2px">Share:</span></div>
	{% endif %}
	<!-- Put post veiw statistic here! -->
	<div class = "post-view">
		<li class = "icon-eye">&nbsp;<span id="busuanzi_value_page_pv"></span></li>
	</div>
  </div>
  {% endif %}
  <!-- Related posts start here! -->
	{%- if site.rawposts.related_posts -%}
	  {% if site.related_posts.size >= 1 %}
		{% if page.language == 'chinese' %}
		<h1 id="posts-label">相关文章</h1>
		{% else %}
		<h1 id="posts-label">related posts</h1>
		{% endif %}
	  <div class = "related-posts-box">
		<ul>
			{% for related_post in site.related_posts limit: 5 %}
			<li><a href="{{ related_post.url | relative_url  }}">{{ related_post.title | escape}}</a></li>
			{% endfor %}
		</ul>
	  </div>
	  {% endif %}
	{% endif %}
  <!-- Page navigation start here! -->
  {%- if site.rawposts.navigation -%}
  {% if page.language == 'chinese' %}
   <h1 id="posts-label">继续阅读</h1>
  {% else %}
   <h1 id="posts-label">further reading</h1>
  {% endif %}
  <div class = "separator"></div>
  <div class="navigation-meta" style = "margin-bottom:40px">
    {%- if page.previous -%}
    <ul class="navigation-bar" style = "margin-top:40px; min-width:40%">
	 {% if page.language == 'chinese' %}
	 <a href="{{ page.previous.url | relative_url }}"; style="width:100%"><span class = "navigation-bar-label">前一章</span><br>{{page.previous.title | escape}}</a>
	 {% else %}
	 <a href="{{ page.previous.url | relative_url }}"; style="width:100%"><span class = "navigation-bar-label">Previous Post</span><br>{{page.previous.title | escape}}</a>
	 {% endif %}
    </ul>
    {%- endif -%}
    {%- if page.next -%}
    <ul class="navigation-bar" style = "margin-top:40px; min-width:40%"> 
	 {% if page.language == 'chinese' %}
	 <a href="{{ page.next.url | relative_url }}"; style="width:100%"><span class = "navigation-bar-label">后一章</span><br>{{page.next.title | escape}}</a>
	 {% else %}
     <a href="{{ page.next.url | relative_url }}"; style="width:100%"><span class = "navigation-bar-label">Next Post</span><br>{{page.next.title | escape}}</a>
	 {% endif %}
    </ul>
    {%- endif -%}
  </div>
  {%- endif -%}
  <br>
  <!-- comment box starts here! -->
  {% include comments.html %}

  {%- if site.rawposts.gittalk -%}
  <div class = "footer">© 2012-2021 David Dong. All rights reserved.</div>
  {% else %}
  <div class = "footer" style="margin-top:50px">© 2012-2021 David Dong's Blog. All rights reserved.</div>
  {% endif %}
  <br>
</div>
