---
layout: default
---
<!-- add menu bar here! -->
{% include title.html %}

{%- assign date_format = site.rawposts.date_format | default: "%b %-d, %Y" -%}

<div class="post-container">
  <li class="posts-labelgroup" id="posts-labelgroup">
	<h1 id="posts-label">POST</h1>
  </li>  
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <ul class="post-categories">
      {%- for tag in page.categories -%}
      <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
    <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
  </div>
  <!-- post content here! -->
  <!-- if sidebar! -->
  {% if page.sidebar and page.toc %}
  <!-- set fix width box to put content! -->
  <div class="post-viewer-container">
	<div class="post-fix-width">
		{{ content }}
	</div>
	<!-- put sidebar! -->
	<div class="post-index-container">
		<li class = "post-index">On this page</li>
		<li>{% toc %}</li>
	</div>
  </div>
  <!-- no sidebar, use flex width box! -->
  {% else %}
  <div class="post">
    {{ content }}
  </div>
  {% endif %}

  <br><br><br>
  <div class = "post-view">
		<li class = "icon-eye">&nbsp;<span id="busuanzi_value_page_pv"></span></li>
  <div>

  <!-- Page navigation start here! -->
  {%- if site.rawposts.navigation -%}
  <li class="posts-labelgroup" id="posts-labelgroup">
	<h1 id="posts-label">further reading</h1>
  </li> 
  <div class="navigation-meta" style = "margin-bottom:40px">
    {%- if page.previous -%}
    <ul class="navigation-bar" style = "margin-top:40px; min-width:40%">   
	 <a href="{{ page.previous.url | relative_url }}"; style="width:100%"><font size="1px" color="#777">Previous Post</font><br>{{page.previous.title | escape}}</a>
    </ul>
    {%- endif -%}
    {%- if page.next -%}
    <ul class="navigation-bar" style = "margin-top:40px; min-width:40%">   
     <a href="{{ page.next.url | relative_url }}"; style="width:100%"><font size="1px" color="#777">Next Post</font><br>{{page.next.title | escape}}</a>
    </ul>
    {%- endif -%}
  </div>
  {%- endif -%}
  <br>
  <!-- comment box starts here! -->
  {% include comments.html %}

  {%- if site.rawposts.gittalk -%}
  <div class = "footer">© 2012-2021 David Dong. All rights reserved.</div>
  {% else %}
  <div class = "footer" style="margin-top:50px">© 2012-2021 David Dong's Blog. All rights reserved.</div>
  {% endif %}
  <br>
</div>
